<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/kneumova/IdeaProjects/SeleniumDemoKN/src/test/java/assignmentTestSuite/TestCase2.java"><classes><class name="assignmentTestSuite.TestCase2"><methods><include name="clickSauceLabsBackpack"/><include name="verifySauceLabsBackpackTitle"/><include name="verifySauceLabsBackpackDescription"/><include name="verifySauceLabsBackpackPrice"/><include name="addProductToCart"/><include name="backToProducts"/><include name="addFleeceJacketToCart"/><include name="openShoppingCartPage"/><include name="checkoutOrder"/><include name="fillFirstName"/><include name="fillLastName"/><include name="fillZipPostalCode"/><include name="continueToCheckOut"/><include name="finishOrder"/><include name="verifyThankYou"/></methods></class></classes></test></suite>